*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

:root{

    --color-fondo:#101522;
    --color-panel:#1B2435;
    --color-texto:#FFFFFF;
    --color-secundario:#AEB7C8;
    --color-boton:#2F80ED;

}

body{

    font-family:Arial,Helvetica,sans-serif;

    background:linear-gradient(180deg,#0F172A,#1E293B);

    color:var(--color-texto);

    min-height:100vh;

}

.topbar{

    height:70px;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111827;

    box-shadow:0 2px 10px rgba(0,0,0,.4);

}

.topbar h1{

    font-size:30px;

}

#app{

    width:100%;

    padding:20px;

}

.oculto{

    display:none;

}

#pantalla-menu{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:20px;

    margin-top:100px;

}

button{

    cursor:pointer;

    border:none;

    border-radius:12px;

    transition:.2s;

}

button:hover{

    transform:scale(1.03);

}

#marcador{

    display:flex;

    justify-content:space-around;

    align-items:center;

    margin-bottom:30px;

    padding:15px;

    background:#111827;

    border-radius:15px;

    font-size:22px;

    font-weight:bold;

}

#mensajeRonda{

    position:fixed;

    left:50%;

    bottom:20px;

    transform:translateX(-50%);

    background:#111827;

    color:white;

    padding:15px 25px;

    border-radius:12px;

    font-size:20px;

    font-weight:bold;

    box-shadow:0 5px 20px rgba(0,0,0,.4);

    z-index:9999;

}

.stat.rival{

    cursor:default;

    pointer-events:none;

}